////Globals
//Showcase Images
@mixin Background($background-Phto) {
  background: linear-gradient(to right, #30303078, #3030306d), $background-Phto;
  background-size: cover;
  background-position: center;
}
//Flex Properties
@mixin Display($direction, $justCon, $itemAlign) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justCon;
  align-items: $itemAlign;
}
//Button Hover effect
@mixin btnEffect() {
  box-shadow: 5px 5px 10px black;
  background-color: $primaryGold;
}
//Responsive Mixin
@mixin Laptop {
  @media only screen and(max-width: 1024px) {
    @content;
  }
}
//Tablet
@mixin Tablet {
  @media only screen and(max-width: 768px) {
    @content;
  }
}
//Mobile
@mixin Mobile {
  @media only screen and(max-width: 425px) {
    @content;
  }
}
//Iphone Responsive
@mixin six-eightP {
  @media only screen and(max-width: 414px) {
    @content;
  }
}
///////

/// Menu Cardflip
//Card Position
@mixin cardPosition() {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
